* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #FF224A; 
    z-index: -1;
}
body {
  text-align: center;
}
.contact-title {
  position: relative;
  top: 1em;
  font-size: 1.5em;
  margin: 2em auto 2em auto;
}
.bg {
  background-color: #FF224A;
}
.about-container {
  background-color: white;
  position: fixed;
  top: 12%;
  width: 85%;
  height: 75%;
  text-align: left;
  padding-left: 2em;
  padding-top: 7%;
  padding-right: 17%;
}
.contact-container {
  position: fixed;
  width: 90%;
  background-color: white;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.email {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 1em auto 1em auto;
}
.quiz-image {
  width: 75%;
}
.hero-text {
    text-align: left;
    font-size: 4em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: .8em;
}
.contact-form {
  width: 70%;
  max-width: 485px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 6em;
  left: 50%;
  transform: translate(-50%);
}
.contact-bottom {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}
.white-bg {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  height: 90%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.push {
  bottom: 11.7%;
  z-index: 5;
}
#formio {
  margin-top: 4em;
}
input[type=text], input[type=email], textarea.form-control {
  color: #FF224A;
  border: 2px solid #FF224A;
  border-radius: 2px;
  padding: 12px 15px;
  margin-top: 15px;
  font-size: .9em;
  font-weight: 800;
  width: 90%;
}
button.btn.btn-primary.btn-md {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  width: 90px;
  background-color: transparent;
  color: #FF224A;
  border: 2px solid #FF224A;
  padding: 12px;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
button.btn.btn-primary.btn-md:hover {
  background-color: #FF224A;
  color: white;
}
input::placeholder {
  color: #FF224A;
}
textarea {
  height: 180px;
  border: 2px solid #FF224A;
  font-size: .9em;
  color: #FF224A;
  margin-top: 15px;
}
textarea::placeholder {
  color: #FF224A;
}
.pink {
  color: #FF224A;
}
a {
  text-decoration: none;
  color: black;
}
button {
  border: 2px solid #FF224A;
  padding: 10px 15px;
  width: 95px;
  margin: 25px;
  color: #FF224A;
  font-size: 1em;
}
button:hover {
  background-color: #FF224A;
  color: white;
}
h2 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  color: #FF224A;
}
h3 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}
h4 {
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  background: rgba(255, 255, 255, 0);
  border: 0;
  padding: 0;
}
h5 {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}
.upside-down {
  transform: rotate(180deg);
  margin-top: -2em;
}
.project-title {
  padding-top: 1.3em;
}
.about-p {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: .7em;
  width: 85%;
}
.project-p {
  text-align: left;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 75%;
  margin: 3% auto 3% auto;
}
.project-button {
  margin: 4em 1em 2em 1em;
}
.languages {
  font-weight: 400;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: .8em;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.top {
  margin: .8em;
}
.bottom {
  position: fixed;
  bottom: .8em;
  left: 50%;
  transform: translate(-50%);
}
.about-right {
  position: fixed;
  right: -24%;
  transform-origin: 0 0;
  transform: rotate(90deg) translate(-50%);
  top: 48%;
}
.right {
  position: fixed;
  right: .1%;
  transform-origin: 0 0;
  transform: rotate(90deg) translate(-50%);
  top: 48%;
}
.left {
  position: fixed;
  left: 1.5em;
  transform-origin: 0 0;
  transform: rotate(90deg) translate(-50%);
  top: 48%;
}
.inverted {
  position: fixed;
  right: 13%;
  transform-origin: 0 0;
  transform: rotate(-90deg) translate(-50%);
  top: 47%;
  z-index: 3;
}
.center-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.corner {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: .5em;
  position: absolute;
  top: 40%;
  left: 74%;
  transform: translate(-50%, -50%);
}
.media-icons {
  position: fixed;
  right: -1em;
  top: 42%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
}
.about-icons {
  position: absolute;
  bottom: 2em;
}
.space {
  margin: 2em auto 2em auto;
}
img {
  margin-top: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 8em;
  }
  .left {
    left: 2.5em;
  }
  .corner {
    font-size: 1em;
    left: 65%;
    top: 37%;
  }
  .media-icons {
    top: 48%;
    right: .5em;
  }
  .project-p {
    font-size: 1em
  }
  .about-p {
    font-size: 1em;
  }
  .about-right {
    right: .1%;
  }
  .about-container {
    padding-left: 4em;
  }
  .contact-container {
    width: 55%;
  }
  input[type=text], input[type=email], textarea.form-control {
    width: 60%;
  }
  .contact-title {
    font-size: 2em;
  }
}

@media screen and (min-width: 426px) {
  .hero-text {
    font-size: 5em;
  }
  .left {
    left: 1.5em;
  }
  .media-icons {
    top: 42%;
  }
  .contact-title {
    font-size: 1em;
  }
  .project-p {
    font-size: .8em;
  }
  .quiz-image {
    width: 80%;
  }
  .about-right {
    right: -10%;
  }
  .about-p {
    width: 100%;
  }
  .contact-container {
    width: 80%;
  }
  input[type=text], input[type=email], textarea.form-control {
    width: 90%;
  }
  .contact-title {
    font-size: 1.4em;
  }
  .languages {
    font-size: 1em;
  }
}